<template name="sliderTest">
    <!--start slider-->
    <div id="slide01" class="iS iS-SkinDots epeoFullscreen">
        <!-- -->
        <!--Start Commands-->
        <div class="iS-Commands">
            <div class="iS-Previous"><i class="fa fa-chevron-left"></i></div>
            <div class="iS-Next"><i class="fa fa-chevron-right"></i></div>
            <div class="iS-Play hide"><i class="fa fa-play"></i></div>
            <div class="iS-Stop hide"><i class="fa fa-pause"></i></div>
            <div class="iS-Loopline hide"></div>
            <a href="#"><img class="" id="logo-header-1.png" src='images/logo-header-1.png'></a>
            <a href="#"><img class="" id="logo-header-2.png" src='images/logo-header-2.png'></a>
            <div class="iS-Dots hide">
                <div class="iS-Dot iS-Dotactive"></div>
                <div class="iS-Dot"></div>
                <div class="iS-Dot"></div>
                <div class="iS-Dot"></div>
                <div class="iS-Dot"></div>
                <div class="iS-Dot"></div>
                <div class="iS-Dot"></div>
                <div class="iS-Dot"></div>
                <div class="iS-Dot"></div>
            </div>
        </div>
        <!--End Commands-->
        <!--Start Content-->
        <div class="iS-Content" id="home">
            <!-- -->
            <div class="iS-Items" data-loopTime="10000">
                <!-- -->
                <div class="iS-Item iS-Cinematic iS-CinematicCustom"
                     data-effectIn="slideleft fadein" data-effectInTime="500" data-effectInDelay="0"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="1000"
                     data-effectInBack="slideleft fadein" data-effectInTimeBack="500" data-effectInDelayBack="0"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="1000">
                    <img class="iS-Image iS-ImageAutofit md-invisible lg-invisible" src="images/back1.jpg" alt="image4" />
                    <img class="iS-Image iS-ImageAutofit xs-invisible sm-invisible" src="images/back1.jpg" alt="image4res" />
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="fadein" data-effectInTime="500" data-effectInDelay="500"
                     data-effectOut="fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="fadein" data-effectInTimeBack="500" data-effectInDelayBack="500"
                     data-effectOutBack="fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="iS-Bg iS-Dark-Mask"></div>
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="zoomin slidetopscreen fadein" data-effectInTime="1000" data-effectInDelay="1000"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="zoomin slidetopscreen fadein" data-effectInTimeBack="1000" data-effectInDelayBack="500"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="slide1-text1  ">A SOLID <span class="Q-colored-dark">PORTFOLIO</span>
                        <div id="back4">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                Finstyle Planning Solutions has provided me with exceptional advice over the years.
                                <a href="">
                                    <i class="fa fa-ellipsis-h visible-sm visible-xs ellipsis translatey" id="back4elip">
                                    </i>
                                </a>
                            <span class="back_content hideme">
                          The service that I have received is fantastic and I
                          will always recommend their services to family and friends.
                          With their help I now have a solid portfolio and a very clear direction of
                          where I want to be. I would not be in the situation I am today without their knowledge and expertise.

                          Thanks guys!
                            <i class="fa fa-quote-right"></i>
                            </span>
                            </p>
                        </div>
                        <h4><span class="Q-colored-dark">GIANNI DELLANEGRA</span></h4>
                    </div>
                </div>
            </div>


            <!-- -->

            <div class="iS-Items" data-loopTime="10000">
                <!-- -->
                <div class="iS-Item iS-Cinematic iS-CinematicCustom"
                     data-effectIn="slidebottom fadein" data-effectInTime="500" data-effectInDelay="0"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="1000"
                     data-effectInBack="slidebottom fadein" data-effectInTimeBack="500" data-effectInDelayBack="0"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="1000">
                    <img class="iS-Image iS-ImageAutofit md-invisible lg-invisible" src="images/back2.jpg" alt="image2" />
                    <img class="iS-Image iS-ImageAutofit xs-invisible sm-invisible" src="images/back2.jpg" alt="image2res" />
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="slidebottom fadein" data-effectInTime="500" data-effectInDelay="500"
                     data-effectOut="fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="slidebottom fadein" data-effectInTimeBack="500" data-effectInDelayBack="500"
                     data-effectOutBack="fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="iS-Bg iS-Dark-Mask"></div>
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="zoomin slidebottomscreen fadein" data-effectInTime="1000" data-effectInDelay="1000"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="zoomin slidebottomscreen fadein" data-effectInTimeBack="1000" data-effectInDelayBack="500"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="slide1-text1   ">GIVES ME <span class="Q-colored-dark">FREEDOM</span>
                        <div id="back2">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                Over the past 12 years Brad has been the guiding force in creating security for my family
                                <a href=""><i class="fa fa-ellipsis-h visible-sm visible-xs ellipsis translatey"></i></a> <span class="back_content hideme">
                              by looking at our world in a holistic sense and helping us attain our immediate and future goals. Property ventures
                             have decreased our tax, increased our ability to save and therefore increased our asset base. With yearly evaluations and
                             constant discussions, Finstyle has given us a sense of direction and peace of mind, helping us afford yearly holidays and
                             extra luxuries in life. Brad’s exuberant personality and passion for his industry is always welcome and his high touch high
                             feel mode of operating will see him looking after us for years to come.
                             <i class="fa fa-quote-right"></i></span>
                            </p>
                        </div>
                        <h4><span class="Q-colored-dark" style="margin-top: 20px">DEAN SZANTO</span></h4>
                    </div>
                </div>
            </div>
            <!-- -->
            <div class="iS-Items" data-loopTime="10000">
                <!-- -->
                <div class="iS-Item iS-Cinematic iS-CinematicCustom"
                     data-effectIn="slideleft fadein" data-effectInTime="500" data-effectInDelay="0"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="1000"
                     data-effectInBack="slideleft fadein" data-effectInTimeBack="500" data-effectInDelayBack="0"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="1000">
                    <img class="iS-Image iS-ImageAutofit md-invisible lg-invisible" src="images/back3.jpg" alt="image3" />
                    <img class="iS-Image iS-ImageAutofit xs-invisible sm-invisible" src="images/back3.jpg" alt="image3res" />
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="fadein" data-effectInTime="500" data-effectInDelay="500"
                     data-effectOut="fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="fadein" data-effectInTimeBack="500" data-effectInDelayBack="500"
                     data-effectOutBack="fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="iS-Bg iS-Dark-Mask"></div>
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="zoomin slidetopscreen fadein" data-effectInTime="1000" data-effectInDelay="1000"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="zoomin slidetopscreen fadein" data-effectInTimeBack="1000" data-effectInDelayBack="500"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="slide1-text1   "> <span class="Q-colored-dark">PEACE</span> OF MIND
                        <div id="back3">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                A big thankyou to Brad for introducing me to Trauma Insurance and insisting it was cover I needed.
                                <a href=""><i class="fa fa-ellipsis-h visible-sm visible-xs ellipsis translatey"></i></a> <span class="back_content hideme">
                              I was sceptical as I was in good health,
                             but last year I needed surgery for a melanoma.  Brad submitted all required documentation,
                             followed up with the Insurance Company, explained
                             the process and kept me updated through every step of the claim. Once the claim was accepted, the payment was in my bank the very next day.
                             This also enabled me to place a deposit on a unit, which now gives me total peace of mind for the future.
                             <i class="fa fa-quote-right"></i></span>
                            </p>
                        </div>
                        <h4><span class="Q-colored-dark">ANDREA BUTTERS</span></h4>
                    </div>
                </div>
            </div>

            <div class="iS-Items" data-loopTime="10000">
                <!-- -->
                <div class="iS-Item iS-Cinematic iS-CinematicCustom"
                     data-effectIn="zoomout fadein" data-effectInTime="500" data-effectInDelay="0"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="1000"
                     data-effectInBack="zoomout fadein" data-effectInTimeBack="500" data-effectInDelayBack="0"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="1000">
                    <img class="iS-Image iS-ImageAutofit md-invisible lg-invisible" src="images/back4.jpg" alt="image1" />
                    <img class="iS-Image iS-ImageAutofit xs-invisible sm-invisible" src="images/back4.jpg" alt="image1res" />
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="slideright fadein" data-effectInTime="500" data-effectInDelay="500"
                     data-effectOut="fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="slideright fadein" data-effectInTimeBack="500" data-effectInDelayBack="500"
                     data-effectOutBack="fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="iS-Bg iS-Dark-Mask"></div>
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="zoomin fadein" data-effectInTime="1000" data-effectInDelay="1000"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="zoomin fadein" data-effectInTimeBack="1000" data-effectInDelayBack="500"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="slide1-text1  ">TIME FOR <span class="Q-colored-dark">PLAY</span>
                        <div id="back1">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                When I took out Trauma Insurance, I considered myself young and fit and thought that I would never need to claim. However
                                <a href="">
                                    <i class="fa fa-ellipsis-h visible-sm visible-xs ellipsis translatey"></i>
                                </a>
                             <span class="back_content hideme"> I recently was diagnosed with kidney cancer.
                             Whilst I was in hospital, Brad was busy sorting out my claim. He handled
                             everything and was able to provide me with the precise payment. Having Brad as my Financial Advisor has made my life easier,
                             he recommended Trauma Insurance and I thank him for his assistance not only with this claim but he recommendations over the past years.
                                <i class="fa fa-quote-right"></i>
                             </span>
                            </p>
                        </div>

                        <h4><span class="Q-colored-dark">GREG BARRETT</span></h4>
                    </div>
                </div>
            </div>

            <div class="iS-Items" data-loopTime="10000">
                <!-- -->
                <div class="iS-Item iS-Cinematic iS-CinematicCustom"
                     data-effectIn="slideleft fadein" data-effectInTime="500" data-effectInDelay="0"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="1000"
                     data-effectInBack="slideleft fadein" data-effectInTimeBack="500" data-effectInDelayBack="0"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="1000">
                    <img class="iS-Image iS-ImageAutofit md-invisible lg-invisible" src="images/back5.jpg" alt="image5" />
                    <img class="iS-Image iS-ImageAutofit xs-invisible sm-invisible" src="images/back5.jpg" alt="image5res" />
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="fadein" data-effectInTime="500" data-effectInDelay="500"
                     data-effectOut="fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="fadein" data-effectInTimeBack="500" data-effectInDelayBack="500"
                     data-effectOutBack="fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="iS-Bg iS-Dark-Mask"></div>
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="zoomin slidetopscreen fadein" data-effectInTime="1000" data-effectInDelay="1000"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="zoomin slidetopscreen fadein" data-effectInTimeBack="1000" data-effectInDelayBack="500"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="slide1-text1  ">GROWING MY <span class="Q-colored-dark">WEALTH</span>
                        <div id="back5">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                I own three properties (all insured of course!) and my portfolio and wealth continue to grow.
                                <a href=""><i class="fa fa-ellipsis-h visible-sm visible-xs ellipsis translatey"></i></a> <span class="back_content hideme">
                           I don’t see myself as a risk taker
                          but I do know that I like the life I’m living and to sustain that into the future, I needed someone to take me by the hand and
                          guide me. That person is Brad and the team at Finstyle. He set up income, life and trauma insurances and basically insured me
                          against the risk of anything going wrong. This is a huge relief. I count my blessings that I met Brad!
                          <i class="fa fa-quote-right"></i></span>
                            </p>
                        </div>
                        <h4><span class="Q-colored-dark">SIMONE QUODLING</span></h4>
                    </div>
                </div>
            </div>

            <div class="iS-Items" data-loopTime="10000">
                <!-- -->
                <div class="iS-Item iS-Cinematic iS-CinematicCustom"
                     data-effectIn="slideleft fadein" data-effectInTime="500" data-effectInDelay="0"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="1000"
                     data-effectInBack="slideleft fadein" data-effectInTimeBack="500" data-effectInDelayBack="0"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="1000">
                    <img class="iS-Image iS-ImageAutofit md-invisible lg-invisible" src="images/back6.jpg" alt="image6" />
                    <img class="iS-Image iS-ImageAutofit xs-invisible sm-invisible" src="images/back6.jpg" alt="image6res" />
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="fadein" data-effectInTime="500" data-effectInDelay="500"
                     data-effectOut="fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="fadein" data-effectInTimeBack="500" data-effectInDelayBack="500"
                     data-effectOutBack="fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="iS-Bg iS-Dark-Mask"></div>
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="zoomin slidetopscreen fadein" data-effectInTime="1000" data-effectInDelay="1000"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="zoomin slidetopscreen fadein" data-effectInTimeBack="1000" data-effectInDelayBack="500"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="slide1-text1  ">PLANNING FOR <span class="Q-colored-dark">RETIREMENT</span>
                        <div id="back6">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                As the greatest of procrastinators, we had put off the idea of having a financial advisor help us plan a secure future for our retirement.
                                <a href=""><i class="fa fa-ellipsis-h visible-sm visible-xs ellipsis translatey"></i></a> <span class="back_content hideme">
                             From the initial meeting, we were impressed. He listened. He respected our conservative approach to risk-taking and life and he was willing
                            to take us outside our comfort zone in baby steps. Brad also recognises what is most important to us – family. He is patient with us and
                            systematic in providing us with opportunities and options for consideration, but never forceful.
                            <i class="fa fa-quote-right"></i></span>
                            </p>
                        </div>
                        <h4><span class="Q-colored-dark">EM AND PAUL</span></h4>
                    </div>
                </div>
            </div>

            <div class="iS-Items" data-loopTime="10000">
                <!-- -->
                <div class="iS-Item iS-Cinematic iS-CinematicCustom"
                     data-effectIn="slideleft fadein" data-effectInTime="500" data-effectInDelay="0"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="1000"
                     data-effectInBack="slideleft fadein" data-effectInTimeBack="500" data-effectInDelayBack="0"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="1000">
                    <img class="iS-Image iS-ImageAutofit md-invisible lg-invisible" src="images/back7.jpg" alt="image7" />
                    <img class="iS-Image iS-ImageAutofit xs-invisible sm-invisible" src="images/back7.jpg" alt="image7res" />
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="fadein" data-effectInTime="500" data-effectInDelay="500"
                     data-effectOut="fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="fadein" data-effectInTimeBack="500" data-effectInDelayBack="500"
                     data-effectOutBack="fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="iS-Bg iS-Dark-Mask"></div>
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="zoomin slidetopscreen fadein" data-effectInTime="1000" data-effectInDelay="1000"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="zoomin slidetopscreen fadein" data-effectInTimeBack="1000" data-effectInDelayBack="500"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="slide1-text1 ">A GOOD <span class="Q-colored-dark">NEST EGG</span>
                        <div id = "back7">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                I am very pleased to say that Brad Isaac has been my Financial Advisor for over 12 years.
                                <a href=""><i class="fa fa-ellipsis-h visible-sm visible-xs ellipsis translatey"></i></a> <span class="back_content hideme">
                             In that time he has assisted and guided me through
                            a difficult transition from full time work to retirement and managed my nest egg so that I am able to live very comfortably without any financial
                            stress.
                            <i class="fa fa-quote-right"></i></span>
                            </p>
                        </div>
                        <h4><span class="Q-colored-dark">LORRAINE SIMPSON</span></h4>
                    </div>
                </div>
            </div>

            <div class="iS-Items" data-loopTime="10000">
                <!-- -->
                <div class="iS-Item iS-Cinematic iS-CinematicCustom"
                     data-effectIn="slideleft fadein" data-effectInTime="500" data-effectInDelay="0"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="1000"
                     data-effectInBack="slideleft fadein" data-effectInTimeBack="500" data-effectInDelayBack="0"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="1000">
                    <img class="iS-Image iS-ImageAutofit md-invisible lg-invisible" src="images/back8.jpg" alt="image8" />
                    <img class="iS-Image iS-ImageAutofit xs-invisible sm-invisible" src="images/back8.jpg" alt="image8res" />
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="fadein" data-effectInTime="500" data-effectInDelay="500"
                     data-effectOut="fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="fadein" data-effectInTimeBack="500" data-effectInDelayBack="500"
                     data-effectOutBack="fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="iS-Bg iS-Dark-Mask"></div>
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="zoomin slidetopscreen fadein" data-effectInTime="1000" data-effectInDelay="1000"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="zoomin slidetopscreen fadein" data-effectInTimeBack="1000" data-effectInDelayBack="500"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="slide1-text1 ">TAKING CARE OF <span class="Q-colored-dark">FAMILY</span>
                        <div id="back8">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                In the 4 years I have known Brad, who was recommended by a friend, he has taken control of my personal affairs and I have never felt so
                                at ease<a href=""><i class="fa fa-ellipsis-h visible-sm visible-xs ellipsis translatey"></i></a> <span class="back_content hideme">
                             since putting my trust in him. He has always conducted himself in a professional manner and nothing I ask has ever been too difficult
                            for him.  He is always updating me with items of interest and keeping me ‘in the loop’. My family recently moved from interstate and I
                            called upon Brad to take control of their personal affairs. Again, they felt at ease and could not believe the knowledge of this man.
                            <i class="fa fa-quote-right"></i></span>
                            </p>
                        </div>
                        <h4><span class="Q-colored-dark">HELEN AND DES</span></h4>
                    </div>
                </div>
            </div>

            <div class="iS-Items" data-loopTime="10000">
                <!-- -->
                <div class="iS-Item iS-Cinematic iS-CinematicCustom"
                     data-effectIn="slideleft fadein" data-effectInTime="500" data-effectInDelay="0"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="1000"
                     data-effectInBack="slideleft fadein" data-effectInTimeBack="500" data-effectInDelayBack="0"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="1000">
                    <img class="iS-Image iS-ImageAutofit md-invisible lg-invisible" src="images/back9.jpg" alt="image9" />
                    <img class="iS-Image iS-ImageAutofit xs-invisible sm-invisible" src="images/back9.jpg" alt="image9res" />
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="fadein" data-effectInTime="500" data-effectInDelay="500"
                     data-effectOut="fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="fadein" data-effectInTimeBack="500" data-effectInDelayBack="500"
                     data-effectOutBack="fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="iS-Bg iS-Dark-Mask"></div>
                </div>
                <!-- -->
                <div class="iS-Item"
                     data-effectIn="zoomin slidetopscreen fadein" data-effectInTime="1000" data-effectInDelay="1000"
                     data-effectOut="zoomout fadein" data-effectOutTime="500" data-effectOutDelay="0"
                     data-effectInBack="zoomin slidetopscreen fadein" data-effectInTimeBack="1000" data-effectInDelayBack="500"
                     data-effectOutBack="zoomout fadein" data-effectOutTimeBack="500" data-effectOutDelayBack="0">
                    <div class="slide1-text1 ">MORE TIME FOR <span class="Q-colored-dark">ME</span>
                        <div id="back9">
                            <p>
                                <i class="fa fa-quote-left"></i>
                                Working with Finstyle Planning Solutions has been one of the best decisions I have made
                                <a href="">
                                    <i class="fa fa-ellipsis-h visible-sm visible-xs ellipsis translatey"></i>
                                </a>
                            <span class="back_content hideme">
                            about taking control of my financial future.
                            Brad’s prompt response through email, phone call or face-to-face meeting to any questions or concerns I have is not only very reassuring
                            but confirms his knowledgeable understanding of current market forces. Brad’s enthusiasm, integrity and ability to take a genuine interest
                            in not only my financial affairs, but in me as an individual, has given me a sense of confidence about my future.
                            <i class="fa fa-quote-right"></i></span>
                            </p>
                        </div>
                        <h4><span class="Q-colored-dark">STEPHEN CARTER</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <!--End Content-->
    </div>
    <!--End Slider -->
</template>