<template name="navMain">
	<nav class="navbar navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Finstyle</a>
			</div>


			<div class="collapse navbar-collapse" id="nav-main"
		</div>

	</nav>
</template>